.header {

    background: rgba(229, 84, 115, 0.10);
    padding: 100px;
    height: 500px;

}

.h-content {
    display: flex;
    justify-content: space-between;
}

.himage {
    width: 635px;
    height: 850px;
    padding: 20px;
}

.btn {

    padding: 20px 43px;


    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*header content css here */
.content-1 {

    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 60px;

    font-weight: 800;
    padding: 100px 0 0 0;

}

.content-2 {

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;


}

/* this is for 2nd section css code . staring point here */
.f-flower {

    display: flex;
    background: #FFF;
    justify-content: space-around;

    height: 600px;
}

.content-3 {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 100px;
    justify-content: space-around;



}

.fs-img {
    border-radius: 464px 538px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 480px;
    padding-top: 45px;
    padding-right: 20px;
}

.img-text {
    margin-top: 70px;
    margin-left: 50px;
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.img-text-2 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 125px;
    margin-left: 70px;

}

.img-text-3 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 20px;
    margin-left: 20px;
}

/*section 3 code writing will be startted from here */

.service {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 50px;
    margin-bottom: 50px;




}

.service-content {
    width: 380px;
    height: 220px;
    padding-top: 45px;
    padding-left: 15px;
    margin-right: -30px;


}

/*hot deal section started from here */
.hotdeal-btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    margin-left: 70px;



}

.off {
    color: #E55473;
    display: inline;
}

.hotdeal {


    display: flex;
    justify-content: space-around;
}

.hot-img {

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;


}

.hot-content {
    align-items: center;
}

/*footer sectio will be written her */

.footer-1 {
    display: flex;
   background-image: url(image/bg.png);
   background-repeat: no-repeat;
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 40px;
   height: 150px;
   padding: 20px;
}
.fcontent-2{
    
}
.fcontent-2{
  margin-left: 400px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.fbtn{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 8px;
background: #E55473;
}
/*end section wil be start here */

.end{
    background: #111010;
    height: 200px;
    padding-top: 25px;
}
.end-c{
    color: #FFF;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.fs{
    margin-top: 20px;
}
.f-5{
    color: red;
    padding-left: 2px;
}
